<footer class="footer bg-dark text-center text-light">
    <div class="container">
        <div class="row">
            <div class="col mt-3 d-flex justify-content-center">
                <div class="ms-3">Home</div>
                <div class="ms-3">Features</div>
                <div class="ms-3">Pricing</div>
                <div class="ms-3">FAQs</div>
                <div class="ms-3">About</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>&copy; 2023 Company, Inc</p>
            </div>
        </div>
    </div>
</footer>