<nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand ms-5" href="#" style="color: white !important;font-weight: 600;">TSLA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#" style="color: white !important;">Home <span
                    class="sr-only">(current)</span></a>
            <!-- <a class="nav-item nav-link" href="#" style="color: white !important;">Features</a>
            <a class="nav-item nav-link" href="#" style="color: white !important;">Pricing</a> -->
            <a class="nav-item nav-link disabled" href="#" style="color: white !important;">Dashboard</a>
        </div>
    </div>
</nav>