.Search {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    margin-bottom: .5rem;

}

.Search input {
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 30rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

.Search button {
    color: gray;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0 10rem 10rem 0;
    background-color: #171718;
    color: white;
    opacity: .8;
    outline: none;
}

.Search button:hover {
    opacity: 1;
    cursor: pointer;
}

.queue {
    padding-bottom: 2rem;
}

textarea {
    width: 30rem;
    height: 10rem;
    background-color: #f1f1f1;
    border-radius: 10px;
    position: relative;

}

.card-body {
    background-color: #f1f1f1;
    border: double;
    border-color: #171718;
    border-radius: 10px;
    font-family: cursive;
}